{% extends "layout.html" %}
{% block content %}

	    <title>Drone Web App | Sensors</title>

			
	</head>

	<style type="text/css">
		/*p {
			margin: 60px;
			display: inline-block;
		}
		n {
			margin: 60px;
			display: block;
		}*/
		table {
		    border-collapse: collapse;
		    border-spacing: 0;
		    width: 50%;
		    border: 1px solid #ddd;
		}
		th, td {
		    border: none;
		    text-align: left;
		    padding: 8px;
		}
		.progress {
		  height: 35px;

		}
		.progress .skill {
		  font: normal 12px "Open Sans Web";
		  line-height: 35px;
		  padding: 0;
		  margin: 0 0 0 20px;
		  text-transform: uppercase;
		  color: black;
		}
		.progress .skill .val {
		  float: right;
		  font-style: normal;
		  margin: 0 20px 0 0;
		  color: black;
		}
		.progress-bar .progress-bar-info {
		  text-align: left;
		  transition-duration: 3s;
		}
		.progress-bar .progress-bar-success {
		  text-align: left;
		  transition-duration: 3s;
		}
		.progress-bar .progress-bar-warning {
		  text-align: left;
		  transition-duration: 3s;
		}
		.progress-bar .progress-bar-danger {
		  text-align: left;
		  transition-duration: 3s;
		}
		.container_table {
			display: block;
		}
		.container_bars {
			display: none;
		}
	</style>

	<body>
		<div class="page-header">
			<h1>Drone | Live-Stream </h1>
			<h3>Sensor Data!!!</h3>
		</div>
		<div class ="container_mid">
			<div class="switch_div">
			    <label class="switch">
			      <input type="checkbox" name="toggleswitch"/>
			      <div class="slider round" id="switch_id"></div>
			    </label>
		    </div>
			<div class="container_table" id = "c_t">
			<div style="overflow-y: auto;">
				<table>
					<tr>
						<th>Start Tag / TS: </th>
						<td id=result1></td>
						<th>End Tag / TE: </th>
						<td id=result22></td>
					</tr>
					<tr>
						<th>State / ST: </th>
						<td id=result9></td>
						<td> F = Flying</td>
						<td> G = on Ground</td>
						<td> T = Taking off</td>
						<td> L = Landed</td>
					</tr>
					<tr>
						<th>IMU X / IX: </th>
						<td id=result2></td>
						<th>IMU Y / IY: </th>
						<td id=result3></td>
						<th>IMU Z / IZ: </th>
						<td id=result4></td>
					</tr>
					<tr>
						<th>Ultrasonic / U1: </th>
						<td id=result5></td>
					</tr>
					<tr>
						<th>Laser / L1: </th>
						<td id=result6></td>
					</tr>
					<tr>
						<th>Kalman Filter Height / KH: </th>
						<td id=result7></td>
						<th>Kalman Filter Velocity / KV: </th>
						<td id=result8></td>
					</tr>
					<tr>
						<th>Barometer Pressure / BP: </th>
						<td id=result10></td>
						<th>Barometer Temperature / BT: </th>
						<td id=result11></td>
						<th>Barometer Altitude / BA: </th>
						<td id=result12></td>
					</tr>
					<tr>
						<th>GPS Status / GS: </th>
						<td id=result17></td>
					</tr>
					<tr>
						<th>GPS Latitude / GA: </th>
						<td id=result13></td>
						<th>GPS Longitude / GO: </th>
						<td id=result14></td>
						<th>GPS Height / GH: </th>
						<td id=result15></td>
						<th>GPS Velocity / GV: </th>
						<td id=result16></td>
						
					</tr>
					<tr>
						<th>Yaw / FY: </th>
						<td id=result18></td>
						<th>Pitch / FP: </th>
						<td id=result19></td>
						<th>Roll / FR: </th>
						<td id=result20></td>
						<th>Throttle / FT: </th>
						<td id=result21></td>
					</tr>
					
				</table>
			</div>
				<!-- <form>
					<input type=text size=5 name=proglang>
					<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
				</form> -->
			<!-- <p id=TS>TS:</p> <p id=result1></p>
			<p id=IX>IX:</p> <p id=result2></p>
			<p id=IY>IY:</p> <p id=result3></p>
			<p id=IZ>IZ:</p> <n id=result4></n>
			<p id=U1>U1:</p> <n id=result5></n>
			<p id=L1>L1:</p> <p id=result6></p>
			<p id=KH>KH:</p> <p id=result7></p>
			<p id=KV>KV:</p> <n id=result8></n>
			<p id=ST>ST:</p> <n id=result9></n>
			<p id=BP>BP:</p> <p id=result10></p>
			<p id=BT>BT:</p> <p id=result11></p>
			<p id=BA>BA:</p> <n id=result12></n>
			<p id=GA>GA:</p> <p id=result13></p>
			<p id=GO>GO:</p> <p id=result14></p>
			<p id=GH>GH:</p> <p id=result15></p>
			<p id=GV>GV:</p> <p id=result16></p>
			<p id=GS>GS:</p> <n id=result17></n>
			<p id=FY>FY:</p> <p id=result18></p>
			<p id=FP>FP:</p> <p id=result19></p>
			<p id=FR>FR:</p> <p id=result20></p>
			<p id=FT>FT:</p> <n id=result21></n>
			<p id=TE>TE:</p> <p id=result22></p> -->
		</div>

		<div class="container_bars" id="c_b">
			<div class="row">
				 <!-- Skill Bars -->
	            <div class="progress skill-bar ">
	                <div id = KH_bar class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" value="0" aria-valuemax="100">
	                    <span class="skill">KH <i class="val">100%</i></span>
	                </div>
	            </div>
	                
	            <div class="progress skill-bar">
	                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
	                    <span class="skill">GH<i class="val"></i></span>
	                </div>
	            </div>
	            
	            <div class="progress skill-bar">
	                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
	                    <span class="skill">BA<i class="val">75%</i></span>
	                </div>
	            </div>  
	            
	            <div class="progress skill-bar">
	                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
	                    <span class="skill">U1<i class="val">55%</i></span>
	                </div>
	            </div>  
	            
			</div>
		</div>
	</div>

	<script type=text/javascript>

		//var KH = 0;
		var TS = {{ TS }};
		var IX = {{ IX }};
		var IY = {{ IY }};
		var IZ = {{ IZ }};
		var U1 = {{ U1 }};
		var L1 = {{ L1 }};
		var KH = {{ KH }};
		var KV = {{ KV }};
		var ST = {{ ST }};
		var BP = {{ BP }};
		var BT = {{ BT }};
		var BA = {{ BA }};
		var GS = {{ GS }};
		var GA = {{ GA }};
		var GO = {{ GO }};
		var GH = {{ GH }};
		var GV = {{ GV }};
		var FY = {{ FY }};
		var FP = {{ FP }};
		var FR = {{ FR }};
		var FT = {{ FT }};
		var TE = {{ TE }};



		$(setInterval(function() { //is it better to have a background process or just send them
			//good to test this
			// $.getJSON('/background_process', function(data) {
				//example: $("#result1").text(data.TS);
				
				$("#result1").text(TS);
				//KH = data.KH;
				$("#result2").text(IX + " rads");
				$("#result3").text(IY + " rads");
				$("#result4").text(IZ + " rads");
				$("#result5").text(U1 + " cm");
				$("#result6").text(L1 + " cm");
				$("#result7").text(KH + " m");
				$("#result8").text(KV + " m/s");
				$("#result9").text(ST);
				$("#result10").text(BP + " Pa");
				$("#result11").text(BT + " °C");
				$("#result12").text(BA + " m");
				$("#result13").text(GA + " °");
				$("#result14").text(GO + " °");
				$("#result15").text(GH + " m");
				$("#result16").text(GV + " m/s");
				$("#result17").text(GS);
				$("#result18").text(FY + " rad/s");
				$("#result19").text(FP);
				$("#result20").text(FR);
				$("#result21").text(FT);
				$("#result22").text(TE);

			//});

			$(document).ready(function() {
				console.log(KH);
			    $('.progress .progress-bar-success').css("width",function() { 
			    		return KH + "%";
	            	});
			    if (KH < 20) {
			    	$('.progress .progress-bar-success').css({"background-color":"blue"
	    				});
			    }
			    else if (KH >= 20 || KH < 30) {
			    	$('.progress .progress-bar-success').css({"background-color":"orange"
	    				});
			    }
			    else {
			    	$('.progress .progress-bar-success').css({"background-color":"red"
	    				});
			    }
			    $('.progress .progress-bar-info').css("width",function() { 
			    		return GH + "%";
	            	});
			    $('.progress .progress-bar-warning').css("width",function() { 
			    		return BA + "%";
	            	});
			    $('.progress .progress-bar-danger').css("width",function() { 
			    		return U1 + "%";
	            	});
			});

			return false;
		}, 500));
		  
		$('input[name=toggleswitch]').change(function(){
      		var ct = document.getElementById('c_t');
      		var cb = document.getElementById('c_b');

      		if($(this).is(':checked')) {
      			ct.style.display = 'none';
      			cb.style.display = 'block';  
        		console.log("checked");      		
      		} 
      		else {
      			ct.style.display = 'block';
      			cb.style.display = 'none';
        		console.log("not checked");      		
      		}
      	});
            
    	
	</script>

	</body>
	</html>

{% endblock %}


<!-- <script type=text/javascript>
			$(function() {
			  //$('#process_input').bind('click', function() {
				$.getJSON('/background_process', {
				  //proglang: $('input[name="proglang"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
					}
				);
				return false;
			  //});
			});
		</script> -->