{% extends "layout.html" %}
{% block content %}

	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(setInterval(function() {
				$.getJSON('/background_process', function(data) {
					$("#result1").text(data.TS);
					$("#result2").text(data.IX);
					$("#result3").text(data.IY);
					$("#result4").text(data.IZ);
					$("#result5").text(data.U1);
					$("#result6").text(data.L1);
					$("#result7").text(data.KH);
					$("#result8").text(data.KV);
					$("#result9").text(data.ST);
					$("#result10").text(data.BP);
					$("#result11").text(data.BT);
					$("#result12").text(data.BA);
					$("#result13").text(data.GA);
					$("#result14").text(data.GO);
					$("#result15").text(data.GH);
					$("#result16").text(data.GV);
					$("#result17").text(data.GS);
					$("#result18").text(data.FY);
					$("#result19").text(data.FP);
					$("#result20").text(data.FR);
					$("#result21").text(data.FT);
					$("#result22").text(data.TE);
				});
				return false;
			}, 500));
		</script>
	</head>

	<style type="text/css">
		p {
			margin: 50px;
		}
		/*#TS {
			float: left;
			width: 50%
		}
		#IX {
			float: left;
			width: 50%
		}
		#result1 {
			float: right;
			width: 50%
		}
		#result2 {
			float: right;
			width: 50%
		}*/
	</style>

	<body>
		<div class='container'>
		<h3>Sensor Data!!!</h3>
			<!-- <form>
				<input type=text size=5 name=proglang>
				<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
			</form> -->
		<p id=TS>TS:</p> <p id=result1></p>
		<p id=IX>IX:</p> <p id=result2></p>
		<p id=IY>IY:</p> <p id=result3></p>
		<p id=IZ>IZ:</p> <p id=result4></p>
		<p id=U1>U1:</p> <p id=result5></p>
		<p id=L1>L1:</p> <p id=result6></p>
		<p id=KH>KH:</p> <p id=result7></p>
		<p id=KV>KV:</p> <p id=result8></p>
		<p id=ST>ST:</p> <p id=result9></p>
		<p id=BP>BP:</p> <p id=result10></p>
		<p id=BT>BT:</p> <p id=result11></p>
		<p id=BA>BA:</p> <p id=result12></p>
		<p id=GA>GA:</p> <p id=result13></p>
		<p id=GO>GO:</p> <p id=result14></p>
		<p id=GH>GH:</p> <p id=result15></p>
		<p id=GV>GV:</p> <p id=result16></p>
		<p id=GS>GS:</p> <p id=result17></p>
		<p id=FY>FY:</p> <p id=result18></p>
		<p id=FP>FP:</p> <p id=result19></p>
		<p id=FR>FR:</p> <p id=result20></p>
		<p id=FT>FT:</p> <p id=result21></p>
		<p id=TE>TE:</p> <p id=result22></p>
		</div>
	</body>
{% endblock %}


<!-- <script type=text/javascript>
			$(function() {
			  //$('#process_input').bind('click', function() {
				$.getJSON('/background_process', {
				  //proglang: $('input[name="proglang"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
					}
				);
				return false;
			  //});
			});
		</script> -->