  {% extends "layout.html" %}

  {% block content %}

      <title>Drone Web App | Object Tracking</title>

                <script>
              	var U1 = {{ U1 }};
                      
                  function sensorFunction() {
                    document.getElementById("sensor").innerHTML = U1;
                  }
                </script>


  <script type="text/javascript">
  
  jQuery(function($){
    // Create variables (in this scope) to hold the API and image size
    var jcrop_api, boundx, boundy, image, canvas = null, context,
        s_x, s_y, s_x2, s_y2, s_w, s_h, s_mx, s_my, xPosition, yPosition,
        streaming = false, width, height;
    

    var acontainer = document.getElementById('container');
    image = document.getElementById('target');
    canvas = document.getElementById('canvas');
    canvas.width = document.getElementById('target').width;
    canvas.height = document.getElementById('target').height;
    
                $("#show-preview").click(function(e) {
                  if($('input[name=toggleswitch]').is(':checked')) {
                    
                    context.clearRect(0, 0, canvas.width, canvas.height);
            		    context = canvas.getContext('2d');
                    context.drawImage(image, s_x, s_y, s_w, s_h, 0, 0, s_w, s_h);
                  }
                  else {
            			
                  }
                });

    $("#alert_success").hide();


    function showCoords(c) {
      console.log(c.x + ", " + c.y + ", " + c.x2 + ", " + c.y2 + ", " + c.w + ", " + c.h);
      s_x = c.x;
      s_y = c.y;
      s_x2 = c.x2;
      s_y2 = c.y2;
      s_w = c.w;
      s_h = c.h;
      s_mx = c.x + (c.w / 2);
      s_my = c.y + (c.h / 2);
      console.log(s_mx + ", " + s_my);
      
      var decoded = canvas.toDataURL("image/png");
      decoded = decoded.substring(decoded.indexOf(',')+1);
      $.get(
          url ="/getmethod/",
          data = {"x":s_x, 
                  "y":s_y,
                  "w":s_w,
                  "h":s_h,
                  "imagetosend": decoded},
          success=function(data){
            //alert('success! your object was sent to the drone');
            $("#alert_success").show();
            setTimeout(function(){ $("#alert_success").hide(); }, 3000);

          }
        );

      return s_x, s_y, s_x2, s_y2, s_w, s_h, s_mx, s_my;
    }

    $('#switch_id').mouseenter(function(){
      $('#hoveringTooltip').css({
        "top" : $(this).offset().top + -20,
        "left" : $(this).offset().left + 0,
        "background-color" : '#ff1d8e',
        "color" : "white"
      });
      $('#hoveringTooltip').show();
    });
    $('#switch_id').mouseleave(function(){
      $('#hoveringTooltip').hide();
    });
    
    $('input[name=toggleswitch]').change(function(){
      if($(this).is(':checked'))
      {
        $('#hoveringTooltip').html("Click to double-click your selection");

        console.log('on switch - dragbox');
		    context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        
        window.removeEventListener('load', startup, false);
        
        $("#alert_success").hide();


        $('#target').Jcrop({
          onSelect: showCoords,  //METHOD 1 **INTEGRATE**
          //aspectRatio: xsize / ysize;
          bgOpacity: .8  //decimal 0 - 1   Opacity of outer image when cropping  .6 
        },function(){
            // Use the API to get the real image size
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            // Store the API in the jcrop_api variable
            jcrop_api = this;
            // Move the preview into the jcrop container for css positioning
            //$preview.appendTo(jcrop_api.ui.holder);
            
            $('canvas').show();
          });

      }
      else 
      {
        $('#hoveringTooltip').html("Click to drag-and-release your selection");
        startup();	
      }
    });

    
    function startup(el) {
		  console.log('not on switch - one-click');
    	context = canvas.getContext('2d');
    	context.clearRect(0, 0, canvas.width, canvas.height);
		  if(jcrop_api!=null){
        jcrop_api.destroy();
      }

		  if(!streaming) {
       	height = image.videoHeight / (image.videoWidth/width);
       	if(isNaN(height)) {
       		height = width / (4/3);
       	}
       	image.setAttribute('width', width);
       	image.setAttribute('height', height);
       	streaming = true;
      }
      
      $("#alert_success").hide();

      acontainer.addEventListener('dblclick', function firstClick(l) {
       	getClickCoOrds(l);
        console.log(xPosition + ", " + yPosition);
        takepicture();
        
    
        var decoded = canvas.toDataURL("image/png");
        decoded = decoded.substring(decoded.indexOf(',')+1);
        //decoded = atob(decoded);
        //decoded = decoded.substring(0,30);
        //decoded = decoded.replace(/\s/g,%, '');
        $.get(
          url ="/getmethod/",
          data = {"x":xPosition, 
                  "y":yPosition,
                  "w":target.width,
                  "h":target.height,
                  "imagetosend": decoded},
          success=function(data){
            //alert('success! your thing was sent');
            $("#alert_success").show();
            setTimeout(function(){ $("#alert_success").hide(); }, 3000);
          }
          );


        //l.preventDefault();
        //l.stopPropagation();
        return xPosition, yPosition;
      }, false);
    }

  	function getClickCoOrds(e) {
  		var parentPos = getPos(acontainer);
      xPosition = e.clientX - parentPos.x;
      yPosition = e.clientY - parentPos.y;
              //console.log(parentPos);
              //var xPosition = e.pageX - acontainer.offset().left;
              //var yPosition = e.pageY - acontainer.offset().top;
              //window.alert("(" + xPosition + "," + yPosition + ")");
      console.log("(" + xPosition + "," + yPosition + ")");   
  		return xPosition, yPosition;               
  	}

    function getPos(el) {
    	var xPos = 0;
      var yPos = 0;
      while(el) {
       	if(el.tagName == "BODY") {
          var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
          var yScroll = el.scrollTop || document.documentElement.scrollTop;
        }
        else {  //for all non-BODY elements
          xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
          yPos += (el.offsetTop - el.scrollTop + el.clientTop);
        }
        el = el.offsetParent;
      }
            //console.log(xPos + "," + yPos); //parent pos coords
      return {
        x: xPos,
        y: yPos,
      };
    }
    
    function takepicture() {
            
		  context.clearRect(0, 0, canvas.width, canvas.height);
		  context = canvas.getContext('2d');
      context.drawImage(image, 0, 0);
                
    }

    window.addEventListener('load', startup, false);
    console.log("loading page");
  });

</script>

<link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.css" type="text/css" />  
<style type="text/css">
/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */

#canvas {
  display: block;
  background: grey;
  width: auto;
/*  max-width: 602; //***//
/*  max-height: 400;*/
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 0px;
}
.slider.round:before {
  border-radius: 0px ;
}

#container { //****//
  width: auto;
  height: auto;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.alert {
    padding: 20px;
    background-color: #595959;
    color: #ff77bb;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
}



.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #ff77bb;
}

</style>


</head>
<body>




<!--div class="container"-->

<div class=container_mid>
  <div class="page-header">
<!--     <h1>Object Tracking and Drone Control</h1>
 -->  </div>

  <div class="switch_div">
  <label class="switch">
    <input type="checkbox" name="toggleswitch"/>
    <div class="slider round" id="switch_id"></div>
  </label>
  </div>



  <div id="container">
    <img src="{{ url_for('static', filename='sago.jpg')}}" id="target" alt="[Jcrop Example]" />
    <!-- <img src="http://192.168.8.1:8082/?action=stream" id="target" alt="[LiveStream]" /> -->
  </div>

  <!--div id="preview-pane">
    <div class="preview-container">
      <img src="sago.jpg" class="jcrop-preview" alt="Preview" />
      < <img src="http://192.168.159.128/stream" class="jcrop-preview" alt="Preview" /> >
    </div>
    <b>PREVIEW: NOT TO SCALE</b>
  </div-->


  <canvas id="canvas"></canvas>

  <button id="show-preview">Show preview of image</button>

  <button id="sensor_data" onclick="sensorFunction()">Click for sensor data</button>
  <p id="sensor"></p>

  <div class="description">
    <p>
      <b>Use toggle to switch between one-click (off) and drag-box (on) methods.</b>
    </p>
  </div>


  <div id='hoveringTooltip' style='position:fixed;'>
  </div>

</div>

<div class=container_left>
  <div class="alert" id="alert_success">
    <span class="closebtn">&times;</span>
    <strong>Success!</strong> Your object has been sent to the drone.
  </div>
</div>

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
    close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
}
</script>
</div>


</body>
</html>

{% endblock %}
